* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 27px 0;
}

.header__navigation {
    display: flex;
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    color: #22356F;
}

.navigation__element {
    padding: 10px;
}

.logo {
    justify-content: space-between;
    font-family: "Larsseit-Bold";
    width: 179px;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #62D0DF;
}

.home {
    background: #F4F9E2;
    position: relative;
    z-index: -2;
    padding-bottom: 75px;
}

.home__container {
    width: 80%;
    margin: 0 auto;
}

.bluebg {
    position: absolute;
    z-index: -1;
    background: #EDFDFF;
    border-radius: 312.159px;
    transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
}

.contact-us_header__btn {
    font-family: 'Larsseit';
    font-size: 14px;
    line-height: 10px;
    font-family: "Larsseit-Bold";
    color: #FFFFFF;
    background: #62D0DF;
    border-radius: 50px;
    padding: 20px 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

.home__description {
    width: 484px;
    padding-top: 180px;
}

.home__description-logo {
    font-size: 24px;
    line-height: 27px;
    padding-bottom: 45px;
    letter-spacing: -0.035em;
    color: #62D0DF;
}

.home__description-title {
    font-family: "Larsseit-Bold";
    font-size: 48px;
    line-height: 53px;
    padding-bottom: 70px;
    letter-spacing: -0.035em;
    color: #22356F;
}

.home__description-subtitle {
    font-family: "Larsseit-Light";
    font-size: 24px;
    line-height: 42px;
    padding-bottom: 45px;
    color: #22356F;
}

.home__description-btn_box {
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    margin-right: 38px;
    font-family: "Larsseit-Bold";
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #F9B640;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
}

.home__description-btn_line {
    font-size: 16px;
    line-height: 23px;
    font-family: "Larsseit-Bold";
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FAB63E;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.home__description-buttons {
    display: flex;
    flex-direction: row;
}

.home__img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.active {
    border-bottom: 1px solid #000;
    font-family: "Larsseit-Bold";
}

.benefits {
    background: #62D0DF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefits__description {
    width: 555px;
    padding-left: 170px;
    padding-top: 80px;
}

.benefits__title {
    font-size: 36px;
    line-height: 27px;
    font-family: "Larsseit-Bold";
    padding-bottom: 50px;
    color: #FFFFFF;
}

.benefits__description-bold_font {
    font-family: "Larsseit-Bold";
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
}

.benefits__description-thin_font {
    font-size: 24px;
    font-family: "Larsseit-Light";
    line-height: 35px;
    color: #FFFFFF;
}

.self-care {
    background: #FFFFFF;
}

.self-care_description {
    display: flex;
    padding-top: 150px;
    padding-bottom: 70px;
}

.about-us {
    font-size: 16px;
    line-height: 23px;
    width: 30%;
    padding-left: 120px;
    box-sizing: border-box;
    font-family: "Larsseit-Light";
    color: #22356F;
}

.self-care_description__subtitle {
    font-size: 24px;
    line-height: 34px;
    width: 39%;
    font-family: "Larsseit-Bold";
    color: #22356F;
}

.self-care__title {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 30px;
    font-family: "Larsseit";
    text-align: center;
    color: rgba(34, 53, 111, 0.5);
}

.cells {
    display: flex;
    list-style: none;
    padding-bottom: 90px;
}

.cell__item {
    width: 25%;
    height: 360px;
    padding-top: 70px;
    box-sizing: border-box;
}

.cell__item_text {
    font-size: 32px;
    line-height: 34px;
    display: flex;
    border-top: 2px solid white;
    width: 78%;
    margin: auto;
    padding-top: 20px;
    color: #FFFFFF;
    font-family: "Larsseit-Bold";
}

.cell__item_text:before {
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    display: block;
    background: #E9B730;
    margin: 5px 15px 0 0
}

.cell__item--pink {
    background: #FFE2DE;
}

.cell__item--green {
    background: #C4E769;
}

.cell__item--blue {
    background: #62D0DF;
}

.cell__item--sky {
    background: #0052C1;
}

.health {
    display: flex;
    list-style: none;
}

.health_item {
    width: 34%;
    height: 480px;
    padding: 120px 50px 0 50px;
    box-sizing: border-box;
}

.health__item_text {
    font-size: 32px;
    line-height: 34px;
    font-family: "Larsseit-Bold";
    display: flex;
    border-top: 2px solid white;
    padding-top: 25px;
    color: #FFFFFF;
}

.health__item_text:before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    background: #E9B730;
    margin: 11px 15px 0 0
}

.health__item--blue {
    background: #22356F;
}

.health__item--sky {
    background: #0052C1;
}

.health__item--img {
    background: url(/img3/joanna-kosinska-340748.png);
    background-size: 100%;
}

.health__item--purple {
    background: #62D0DF;
}

.health__item--grey {
    background: #DEE1FF;
}

.health__item--violet {
    background: #8F00FF;
}

.info {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.info__box {
    box-sizing: border-box;
    padding: 55px 77px 37px 105px;
}

.info__title {
    font-size: 28px;
    font-family: "Larsseit";
    line-height: 33px;
    padding-bottom: 28px;
    color: #22356F;
}

.info__subtitle {
    font-size: 16px;
    font-family: "Larsseit-Light";
    line-height: 25px;
    color: rgba(34, 53, 111, 0.5);
}

.help {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.help__description {
    width: 676px;
    padding: 103px 0 42px 106px;
}

.help__title {
    font-family: "Larsseit";
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    padding-bottom: 225px;
    color: #22356F;
}

.help__subtitle {
    font-family: "Larsseit-Bold";
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    padding-bottom: 152px;
    color: #22356F;
}

.thrive-talk__font-blue {
    color: #62D0DF;
}

.help__btn {
    font-family: "Larsseit-Bold";
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #FAB63E;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.contact-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #22356F;
}

.contact-us__description {
    width: 579px;
    padding-left: 180px;
}

.contact-us__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    padding-bottom: 230px;
    font-family: "Larsseit";
    color: #FFFFFF;
}

.contact-us__title {
    font-family: "Larsseit-Bold";
    font-weight: 700;
    font-size: 64px;
    line-height: 94px;
    padding-bottom: 75px;
    color: #FFFFFF;
}

.contact-us__subtitle {
    font-family: "Larsseit";
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    padding-bottom: 80px;
    color: #FFFFFF;
}

.contact-us__btn {
    font-family: "Larsseit";
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #62D0DF;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.footer {
    display: flex;
}

.footer__description {
    padding: 40px;
    width: 33.3%;
    padding-top: 98px;
    padding-left: 68px;
}

.footer__title {
    font-family: "Larsseit-Bold";
    font-weight: 700;
    font-size: 14px;
    line-height: 11px;
    padding-bottom: 50px;
    color: #22356F;
}

.footer__subtitle {
    font-family: "Larsseit-Light";
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    padding-bottom: 30px;
    color: rgba(34, 53, 111, 0.5);
}

.footer__number {
    font-family: "Larsseit-Light";
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: rgba(34, 53, 111, 0.5);
}

a {
    text-decoration: none;
}

.copyright {
    background: #62D0DF;
    font-family: "Larsseit-Bold";
    font-weight: 700;
    font-size: 14px;
    line-height: 11px;
    padding: 32px 0 32px 194px;
    color: #FFFFFF;
}